.label {
  border: 1px solid var(--surface4);
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-sm);
  margin-inline-end: var(--space-xs);
  transition: box-shadow 0.3s ease;
}
