.alert {
  line-height: var(--space-md);
  background: var(--surface4);
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-md);
}

.danger {
}

.info {
}

.close {
  margin-inline-start: var(--space-sm);
}
