.fieldset-item {
  background: var(--surface3);
  transition: background 0.2s ease;

  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  /* grid-template-columns: minmax(0, 1fr); */
  /* grid-template-columns: var(--space-lg) 1fr auto; */
  /* grid-template-columns: auto; */
  gap: var(--space-md);

  padding: var(--space-sm) var(--space-md);
}

@media (min-width: 540px) {
  .fieldset-item {
    /* grid-template-columns: var(--space-xxl) 1fr; */
    gap: var(--space-xs);
    padding-block: var(--space-md);
    /* padding-inline: 0 var(--space-xl); */
  }
}

.fieldset-item:focus-within {
  background: var(--surface2);
}

.fieldset-item > :is(picture, input[type="checkbox"]) {
  place-self: center;
}

.fieldset-item img {
  object-fit: contain;
  width: 100%;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;

  background: var(--surface4);
}

.overlay img {
  margin: auto;
}

.zoomed-in:hover {
  cursor: zoom-out;
}

.zoomed-out:hover {
  cursor: zoom-in;
}

.zoomed-in img {
  transform: scale(1.2);
  height: 80%;
  width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .zoomed-in img,
  .zoomed-out img {
    transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1);
  }
}

/* .fieldset-item > picture {
  block-size: var(--space-xl);
  inline-size: var(--space-xl);
  clip-path: circle(40%);
  display: inline-grid;
  place-content: center;
  background: var(--surface4);
} */

/* .fieldset-item:focus-within picture {
  clip-path: circle(50%);
} */

/* @media (prefers-reduced-motion: no-preference) {
  .fieldset-item > picture {
    transition: clip-path 0.3s ease;
  }
} */

/* .fieldset-item svg { */
/* fill: var(--text2); */
/* block-size: var(--space-md); */
/* } */

/* .fieldset-item:focus-within svg {
  fill: var(--brand);
} */

.fieldset-item h1 {
  display: grid;
  gap: var(--space-sm);
  margin-block: var(--space-sm);
  grid-template-columns: fit-content(10ch) auto;
  align-items: center;
  justify-content: flex-start;
}

/* .fieldset-item h1 button {
  display: grid;
  gap: var(--space-sm);
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
} */

.fieldset-item__line-item {
  margin-block: var(--space-xs);
}

.fieldset-item__line-item div:nth-child(2) {
  display: inline-grid;
}

/* .fieldset-item__line-item--sm-heading {
  border: 1px solid var(--surface4);
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-sm);
  margin-inline-end: var(--space-xs);
  transition: box-shadow 0.3s ease;
} */

.sm-stack {
  display: grid;
  gap: var(--space-xs);
  /* align-items: center;
  justify-content: center; */
}

.currency-input {
  display: grid;
  grid-template-columns: var(--space-md) 1fr;
  padding-block: var(--space-sm);
  align-items: center;
}

.weight-container {
  border: 1px solid var(--surface4);
  border-radius: var(--space-sm);
  /* padding: var(--space-xs) var(--space-md); */
  display: grid;
  grid-template-columns: 1fr 50px;
}

.weight-container__input {
  padding-right: 0;
  /* border-start-start-radius: var(--space-sm); */
  /* border-end-start-radius: var(--space-sm); */
}

.weight-container__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-corner {
  color: var(--surface1);
  fill: var(--surface3);
}

.left-align {
  justify-content: flex-start;
}
